<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <form id="search">
        <strong>Enter ISBN:</strong> <input type="text" id="ISBN" value="9781407170671">
        <input type="submit" id="submit">
    </form>


    <form   method="post" id="bookselection" th:object="${book}">

        <div class="form-group">
            <label th:for="isbn13">ISBN: </label><span class="isbn13"></span>
            <input type="hidden" class="form-control" id="isbn13" th:field="*{isbn13}" />
            <span th:errors="*{isbn13}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="title">Title: </label><span class="title"></span>
            <input type="hidden" class="form-control" id="title" th:field="*{title}" />
            <span th:errors="*{title}" class="error"></span>
        </div>


        <div class="form-group">
            <label th:for="image">Image: </label><img  id="cover" src="" />
            <input type="hidden" class="form-control" id="image" th:field="*{image}" />
            <span th:errors="*{image}" class="error"></span>
        </div>

        <div>
            <label >Author: </label><span class="author"></span>
            <input type="hidden"  id="authorname"  name="authorname" />

        </div>

    </form>


    <script >
    $("#search").submit(
        function(e) {
          e.preventDefault();
          var isbn = $('#ISBN').val();
          var isbn_without_hyphens = isbn.replace(/-/g, "");
          var googleAPI = "https://www.googleapis.com/books/v1/volumes?q=" + isbn_without_hyphens;
          $.getJSON(googleAPI, function(response) {
              console.log(response);
            if (typeof response.items === "undefined") {
              alert("No books match that ISBN.")
            } else {
               if(response.items[0].volumeInfo.industryIdentifiers[0].type === "ISBN_13"){
                      $("#isbn13").val(response.items[0].volumeInfo.industryIdentifiers[0].identifier);
                      $(".isbn13").html(response.items[0].volumeInfo.industryIdentifiers[0].identifier);
               }
               if(response.items[0].volumeInfo.industryIdentifiers[1].type === "ISBN_13"){
                     $("#isbn13").val(response.items[0].volumeInfo.industryIdentifiers[1].identifier);
                     $(".isbn13").html(response.items[0].volumeInfo.industryIdentifiers[1].identifier);
                 }
              $("#title").val(response.items[0].volumeInfo.title);
              $("#authorname").val(response.items[0].volumeInfo.authors[0]);
              $("#image").val(response.items[0].volumeInfo.imageLinks.smallThumbnail);
              $(".title").html(response.items[0].volumeInfo.title);
              $(".author").html(response.items[0].volumeInfo.authors[0]);
              $(".image").html(response.items[0].volumeInfo.imageLinks.smallThumbnail);
              $("#cover").attr("src",response.items[0].volumeInfo.imageLinks.smallThumbnail);
              $( "#bookselection" ).append( "<input type='submit' value='SELECT' />" );
            }
          });
        }
      );
     </script>

</body>
</html>